In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import seaborn as sb
%matplotlib inline

In [3]:
db=pd.read_csv('placementdata.txt.csv')

In [4]:
db.head()

,RegNo.,Quants,LogicalReasoning,Verbal,Programming,CGPA,Networking,CloudComp,WebServices,DataAnalytics,QualityAssurance,AI,Placed
0,T150054001,11,11,10,11,10.00,4.3,6.2,7.4,8.3,8.1,8.0,1
1,T150054002,8,10,11,18,8.80,8.9,8.0,8.0,8.0,8.3,9.4,1
2,T150054003,11,11,10,8,9.63,8.4,8.0,8.0,8.0,8.0,5.4,1
3,T150054004,14,13,8,8,6.55,4.5,6.5,6.9,3.3,4.1,4.6,0
4,T150054005,10,7,7,10,7.27,3.1,5.6,6.7,4.6,2.7,4.4,0

In [5]:
db.isnull().sum()

RegNo.              0
Quants              0
LogicalReasoning    0
Verbal              0
Programming         0
CGPA                0
Networking          0
CloudComp           0
WebServices         0
DataAnalytics       0
QualityAssurance    0
AI                  0
Placed              0
dtype: int64

In [6]:
db=db.dropna()

In [7]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330 entries, 0 to 329
Data columns (total 13 columns):
RegNo.              330 non-null object
Quants              330 non-null int64
LogicalReasoning    330 non-null int64
Verbal              330 non-null int64
Programming         330 non-null int64
CGPA                330 non-null float64
Networking          330 non-null float64
CloudComp           330 non-null float64
WebServices         330 non-null float64
DataAnalytics       330 non-null float64
QualityAssurance    330 non-null float64
AI                  330 non-null float64
Placed              330 non-null int64
dtypes: float64(7), int64(5), object(1)
memory usage: 36.1+ KB

In [8]:
db=db.drop('RegNo.',axis=1)

In [18]:
db.head(10)

,Quants,LogicalReasoning,Verbal,Programming,CGPA,Networking,CloudComp,WebServices,DataAnalytics,QualityAssurance,AI,Placed
0,11,11,10,11,10.00,4.3,6.2,7.4,8.3,8.1,8.0,1
1,8,10,11,18,8.80,8.9,8.0,8.0,8.0,8.3,9.4,1
2,11,11,10,8,9.63,8.4,8.0,8.0,8.0,8.0,5.4,1
3,14,13,8,8,6.55,4.5,6.5,6.9,3.3,4.1,4.6,0
4,10,7,7,10,7.27,3.1,5.6,6.7,4.6,2.7,4.4,0
5,12,9,12,11,6.90,2.9,6.2,7.1,3.5,3.7,4.6,0
6,14,9,12,7,8.60,4.7,5.9,5.5,8.0,8.9,5.2,1
7,7,13,11,13,9.37,4.3,6.2,6.9,4.0,5.0,5.0,0
8,9,8,13,12,7.21,3.0,6.3,6.9,4.6,3.5,4.8,0
9,13,8,9,11,7.36,2.8,5.7,5.8,2.8,1.9,4.5,0

In [19]:
X=db.iloc[:,[0,1,2,3,4,5,6,7,8,9,10]]
Y=db.iloc[:,11]

In [20]:
X.head()

,Quants,LogicalReasoning,Verbal,Programming,CGPA,Networking,CloudComp,WebServices,DataAnalytics,QualityAssurance,AI
0,11,11,10,11,10.00,4.3,6.2,7.4,8.3,8.1,8.0
1,8,10,11,18,8.80,8.9,8.0,8.0,8.0,8.3,9.4
2,11,11,10,8,9.63,8.4,8.0,8.0,8.0,8.0,5.4
3,14,13,8,8,6.55,4.5,6.5,6.9,3.3,4.1,4.6
4,10,7,7,10,7.27,3.1,5.6,6.7,4.6,2.7,4.4

In [21]:
Y.head()

0    1
1    1
2    1
3    0
4    0
Name: Placed, dtype: int64

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
random = RandomForestClassifier()
random.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
import pickle
pickle.dump(random, open('model1.pkl','wb'))

# Loading model to compare the results
#model = pickle.load(open('model.pkl','rb'))
#print(model.predict([[2, 9, 6]]))